{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block scripts %}
    {{ super() }}
    {# Script block for static scripts #}
    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/room/');
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
            socket.on('status', function(data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function(data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
                }
            });
        });
        function leave_room() {
            socket.emit('left', {}, function() {
                socket.disconnect();
                window.location.href = "{{ url_for('auth.login') }}";
            });
        }
    </script>
{% endblock %}

{% block app_content %}
    <main class="mdl-layout__content">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__title">
                    <h3>{{ room }}</h3>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <div class="mdl-card__actions mdl-card--border ">
                    <textarea id="chat" class="mdl-textfield__input" cols="80" rows="20" readonly></textarea><br><br>
                    <input id="text" class="mdl-textfield__input" size="82" placeholder="Enter your chat message here"><br><br>
                    <a onclick="leave_room();" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        {{ _('Leave this room') }}
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}