{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <main class="mdl-layout__content">
        <div class="page-content mdl-cell mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <section>
                {% if room_dict %}
                    {% with table_dict=room_dict, table_header=["Current Rooms"], url_for_value='chat.chat_room' %}
                        {% include "subtemplates/_table_object_with_name.html" %}
                    {% endwith %}
                {% endif %}
            </section>
            <section>
                <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                {% with form_object=room, form_object_name="room", form_object_rows=1, form_object_label="Room", form_object_value=form.data.room if form.data.room != None else "", form_text_type="text" %}
                    {% include "subtemplates/_form_object_textfield_singleline_required.html" %}
                {% endwith %}
                <div class="mdl-layout-spacer"></div>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value=data-val.value>Create</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}